antlr4-python3-runtime==4.8
bitarray==2.6.0
cffi==1.15.1
colorama==0.4.5
Cython==0.29.32
-e git+https://github.com/lod531/smoothing.git@5576bf2921eb712abbd0d5cfa119a14a05a81179#egg=fairseq
gpustat==0.6.0
hydra-core==1.0.7
importlib-resources==5.10.0
lxml==4.9.1
numpy==1.23.4
nvidia-ml-py3==7.352.0
omegaconf==2.0.6
portalocker==2.5.1
pycparser==2.21
PyYAML==6.0
regex==2022.9.13
sacrebleu==2.2.1
scipy==1.9.2
spconv @ file:///cluster/scratch/sfux/SPCONV/spconv/dist/spconv-1.2.1-cp38-cp38-linux_x86_64.whl
tabulate==0.9.0
torch==1.7.1+cu110
torch-cluster==1.5.8
torch-geometric==1.6.3
torch-scatter==2.0.5
torch-sparse==0.6.8
torch-spline-conv==1.2.0
torchaudio==0.7.2
torchvision==0.8.2+cu110
tqdm==4.64.1
typing_extensions==4.4.0
waymo-open-dataset-tf-2-4-0 @ file:///scratch/163976992.tmpdir/waymo_open_dataset_tf_2_4_0-1.2.0-cp38-cp38-linux_x86_64.whl
zipp==3.9.0
